/*makes sure there is no margin on the page*/
html, body{
  margin: 0;
}
/*centers the header and gives qtext, font, color*/
h1{
  margin: 0;
  margin-left: 60px;
  text-align: center;
  font-family: garamond;
}
/*styling what the header will look like and how big it will be*/
header{
  height: 100px;
  background-color: lightgrey;
}
button{
  display: inline;
}
/*****STYLES THE BUTTONS*****/
.replay{
  margin-top: 20px;
  margin-left: 250px;
}
.buttonPanel{
  text-align: center;
}
.objective{
  position: absolute;
  margin-top: 20px;
  margin-left: 75px;
}
/*****HIDES CLOSE BUTTON FOR THE OBJECTIVE POPUP*****/
.hidden {
  visibility: hidden;
}
/*****POPUP PANEL STYLES*****/
.popup{
  font-family: Garamond;
  position: relative;
  text-align: center;
  width: 600px;
  height: 500px;
  color:black;
  background-color:rgba(255,255,255,.8);
  border: 10px solid grey;
  border-radius: 25px;
  font-size: 14px;
  z-index:1;
  line-height: 3px;
  margin:auto;
  padding-top: 30px;
}
/*styling the footer with my name*/
.footer{
  height: 100px;
  background-color: lightgrey;
  text-align: center;
  font-family: garamond;
  font-size: 22px;
}
/*the first race track for player 1*/
.rowOne{
  height: 100px;
  background-color: cornflowerblue;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
#dashesOne{
  font-size: 40px;
}
/*the second race track for player 2*/
.rowTwo{
  height: 100px;
  background-color: purple;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
#dashesTwo{
  font-size: 40px;
}
/*held spaces with divs between racetracks*/
.spacer{
  height: 100px;
}
